<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/check.css}">
    <title>Test Online</title>
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>
<div id="checked">
    <div id="allQuest">
        <div class="quest" th:each="quest, i: ${checkedQuestions.questions}">
            <span th:text="'Pytanie ' + ${i.index + 1}  + ': ( ' + ${quest.points} + 'pkt.)'"></span>
            <span th:text="${quest.question}"></span>
            <span class="invalid" th:if="${quest.choice == 0}">Nie udzieliłeś odpowiedzi!</span>
            <span class="wrong" th:if="${quest.choice < 0}" th:text="'Twoja odpowiedź: ' + ${quest.selected}"> </span>
            <span class="correct" th:text="'Poprawna odpowiedź: ' + ${quest.correct}"> </span>
        </div>
    </div>
    <div id="result" th:with="percent=${gainedPoints}/${maxPoints}">
        <p th:text="'Uzyskałeś ' + ${gainedPoints} + '/' + ${maxPoints} + 'pkt. Stanowi to: ' + ${#numbers.formatPercent(percent,2,2)}"></p>
    </div>
</div>

</body>
</html>
