<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Test Online</title>
    <style>
        .quest{
            text-align:center;
        }
        .correct{
            color:lime;
        }
        .wrong{
            color:red;
        }
        .invalid{
            color:Aqua;
        }
        #result{
            display:flex;
            justify-content:center;
            margin-top:2%;
            padding-bottom: 2%;
            zoom:200%;
        }
    </style>
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>
<div id="checked">
    <div id="allQuest">
        <div class="quest" th:each="quest, i: ${checkedQuestions.questions}">
            <span th:text="'Pytanie' + ${i.index} + ': ( ' + ${quest.points} + 'pkt.)'"></span>
            <span th:text="${quest.question}"></span>
            <span class="invalid" th:if="${quest.choice == 0}">Nie udzieliłeś odpowiedzi!</span>
            <span class="wrong" th:if="${quest.choice < 0}" th:switch="${-quest.choice}">
                Twoja odpowiedź:
                <span th:case="0" th:text="${quest.optionA}"></span>
                <span th:case="1" th:text="${quest.optionB}"></span>
                <span th:case="2" th:text="${quest.optionC}"></span>
                <span th:case="3" th:text="${quest.optionD}"></span>
            </span>
            <span class="correct" th:switch="${quest.corrIdx}">
                Poprawna odpowiedź:
                <span th:case="0" th:text="${quest.optionA}"></span>
                <span th:case="1" th:text="${quest.optionB}"></span>
                <span th:case="2" th:text="${quest.optionC}"></span>
                <span th:case="3" th:text="${quest.optionD}"></span>
            </span>
        </div>
    </div>
    <div id="result">
        <p th:text="'Uzyskałeś ' + ${gainedPoints} + '/' + ${maxPoints} + 'pkt. Stanowi to: ' + ${gainedPoints}/${maxPoints} * 100 + '%'"></p>
    </div>
</div>

</body>
</html>
