<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Test Online</title>
</head>
<body>
    <div th:insert="~{navbar.html :: navbar}"></div>

    <div id="menuButtons">
        <a href="1">Losuj 1 pytanie</a>
        <a href="2">Losuj 2 pytania</a>
        <a href="3">Losuj 3 pytania</a>
        <a href="5">Losuj 5 pytań</a>
        <a href="10">Losuj 10 pytań</a>
    </div>
</body>
</html>
