<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="ISO-8859-1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav th:fragment="navbar" id="navbar">
    <a href="index.html" class="edge">
        <img th:src="@{/images/home.png/}">
    </a>
    <div id="text">TEST ONLINE - INF.03</div>
    <div id="dummy" class="edge"></div>
</nav>

</body>
</html>