<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Online</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div th:insert="~{navbar.html :: navbar}"></div>

    <form action="submit" method="POST" th:object="${allQuestions}">
        <div id="questions" th:each="quest : ${allQuestions.questions}">
            <div class="quest">
                <h3>
                    <p class="content" th:text="${quest.question}"></p>
                </h3>
                <div class="answers">
                    <div class="answer">
                        <input type="radio" th:name="${quest.index}" th:id="${quest.index}0">
                        <label th:for="${quest.index}0" th:text="${quest.optionA}"></label>
                    </div>
                    <div class="answer">
                        <input type="radio" th:name="${quest.index}" th:id="${quest.index}1">
                        <label th:for="${quest.index}1" th:text="${quest.optionB}"></label>
                    </div>
                    <div class="answer">
                        <input type="radio" th:name="${quest.index}" th:id="${quest.index}2">
                        <label th:for="${quest.index}2" th:text="${quest.optionC}"></label>
                    </div>
                    <div class="answer">
                        <input type="radio" th:name="${quest.index}" th:id="${quest.index}3">
                        <label th:for="${quest.index}3" th:text="${quest.optionD}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons">
            <button type="submit">Sprawdź</button> <button type="reset">Wyczyść</button>
        </div>
    </form>
</body>
</html>
